<h1>Octomachines overview </h1>
<p>Machine name: <%= @machine_hostname %></p>
<p>Status: <%= @machine_status %></p>
<p>CPU cores: <%= @machine_cores %></p>
<p>CPU load average: <%= @machine_load_average %></p>
<p>Memory total: <%= @machine_available_memory %></p>
<p>Memory usage: <%= @machine_memory_usage %></p>
<div class="col-md-6">
  <table class="table table-bordered table-striped" id="sortable">
    <thead>
    <tr>
      <th>
        Machine name
      </th>
      <th>
        CPU cores
      </th>
      <th>
        Memory total
      </th>
      <th>
        Status
      </th>
      <th>
        CPU load average
      </th>
      <th>
        Memory usage
      </th>
    </tr>
    </thead>
    <tbody>
    <% @octomachines_all.each_key do |otomachines_key| %>
        <td>
          <%= otomachines_key %>
        </td>
        <td>
          <%= $redis.hget("cores","#{otomachines_key}") %>
        </td>
        <td>
          <%= $redis.hget("available_memory","#{otomachines_key}") %>
        </td>
        <td>
          <%  if $redis.hget("status","#{otomachines_key}").present?  %>
          <%= $redis.hget("status","#{otomachines_key}") %>
          <%  else  %>
          <%= "Down" %>
          <%  end  %>
        </td>
        <td>
          <%= $redis.hget("load_average","#{otomachines_key}") %>
        </td>
        <td>
          <%= $redis.hget("memory_usage","#{otomachines_key}") %>
        </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>